<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" >
        <h1 style="text-align:center;">Lista de Frutas</h1>
        <br>
        <div v-bind:class="'container mt-3'">
                <input  v-bind:class="'input-group'"v-model= "nuevaFruta" type="text" placeholder="Ingrese tarea..." >
                <button v-model= "nuevaFruta" v-on:click="agregarFruta()" v-bind:class="'btn btn-dark'">Agregar</button>
        </div>
            <ul v-for="(l,index)  of frutas" v-bind:class="'list-group'">
            <div v-bind:class="'container mt-3'">
                <li v-bind:class="cambiarColor(l)" class="'list-group-item d-flex justify-content-between align-items-center'">
                    {{l.nombre}}
                    <span v-bind:class="'badge badge-pill'">{{l.cantidad}}</span>

                    <div v-bind:class="'d-flex flex-row bg-secondary'"> 
                            <button  v-bind:class="'btn btn-dark'" v-on:click="l.cantidad++">Add</button>
                            <button  v-bind:class="'btn btn-dark'" v-on:click="l.cantidad--">-</button>
                            <button  v-bind:class="'btn btn-dark'" v-on:click="borrarFruta(index)">Borrar</button>
                    </div>
                </li>         
            </div>    
            </ul>
            <br>
            <div v-bind:class="'container mt-3'"><h4 v-bind:class="'btn btn-dark'">TOTAL: {{total()}}</h4> </div>
           
            
       
           
    </div>
<script src="vue.js"></script>    
</body>
</html>