<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Computed</title>

</head>
<body>
<div id="app">
      <h1>Tarea Computed</h1>
      <input v-on:keyup.enter="activo=true"type="text" v-model="mostrar_nombre" >
      <h1 v-if="activo">Mensaje:  {{mostrarNombre}}</h1>
      
     
                     
</div>
<style>
   
</style>

<script>
    var app = new Vue ({
    el:"#app",
    data:{
        mensaje:"Computed",
        contador:0,
        contador1: 0,
        mostrar_nombre:'',
        activo:false
    },
    computed: {
       mostrarNombre(){
           console.log(this.mostrar_nombre + "@gmail.com");
           
           return this.mostrar_nombre + "@gmail.com"
           
           
           
       }
    },
    methods: {
      
    },

})
</script>    
</body>
</html>