<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <title>Document_dia_5_Methods</title>
</head>
<body>
    <div id="app">
     <h1>Lista de Tareas</h1>
     <input v-model= "agregar_tareas" type="text" placeholder="Ingrese tarea..." >
     <button v-model= "agregar_tareas" v-on:click="agregarTarea(agregar_tareas)" v-bind:class="'btn btn-info'">Agregar</button>
     <ul>
         <li v-for="(l, index ) of lista_tareas">
             <h1 v-bind:class="{'tarea_hecha':activo}">{{index}}---{{l}}</h1>
             <button v-on:click="activo = true" :class="'btn btn-info'">Hecho!</button>
             <button  v-on:click="borrarTarea(index)":class="'btn btn-info'" >Borrar!</button>
         </li>
     </ul>



    </div>
    <script src="vue.js"></script>
</body>
</html>